<li id="<%=comment._id%>">
   
      <p >
        <div class="horizontalStyle"> 
          <div class="inlineStyle">

            <%if(locals.user){%>
              <a href="/like/toggle/?id=<%=comment._id%>&type=Comment" class="delLike" data-like="<%=comment.like.length%>">
              <i class="fas fa-regular fa-thumbs-up"><%=comment.like.length%></i>
              </a> 
            <%}else{%>
              <i class="fas fa-regular fa-thumbs-up"><%=comment.like.length%></i>
            <%}%>
  
          </div>
         
          <div  class="inlineStyle">
              <!--The above check helped to check whether post.user.id == locals.user.id has it has been prepopulated from back end so post.user is a full fledged object-->
              <%=comment.content%>
          </div>
        </div>
       
    
       <br>
       <small>
        <%=comment.user.name%>
       </small>
      </p>
      <%if(locals.user && comment.user.id==locals.user.id){%>
        <a class='fas fa-trash delComment' href="/comment/destroy/<%=comment._id%>"></a> 
      <%}%> 
</li>