<link rel="stylesheet" href="/css/user_sign_up.css">
<link rel="stylesheet" href="/css/user.css" width="100">
<div id="imageBlock">
  <img src="<%=userCurrPro.avatar%>" alt="<%=userCurrPro.name%>">  
</div>

<p>User Name :<%=userCurrPro.name%></p>
<p>User Email : <%=userCurrPro.email%></p>

<%if(locals.user.id == userCurrPro.id ){%>
 <%-include('_formUpdate')%>
<%}%>

<div>
  <!-- In my own Profile I dont want to see add friend button/remove -->

  <%if(locals.user.id !== userCurrPro.id){%>
    
    <form id='friendForm' action="/users/addFriend/<%=userCurrPro.id%>" method="POST">
      <%if(isFriend){%>
        <button type="submit"  data-like="<%=isFriend%>" name="friendType" value="yesFriend">Remove Friend</button>
      <%}else{%>
        <button type="submit"  data-like="<%=isFriend%>" name="friendType" value="noFriend">Add Friend</button>
      <%}%>
    </form>
  <%}%>
  <!-- Add this Check this -->
</div>

<script src="/js/addFriend.js" type="text/javascript" defer></script> 