<link rel="stylesheet" href="/css/user_sign_up.css">
<link rel="stylesheet" href="/css/user.css" width="100">
<div id="imageBlock">
  <img src="<%=userCurrPro.avatar%>" alt="<%=userCurrPro.name%>">  
</div>

<p>User Name :<%=userCurrPro.name%></p>
<p>User Email : <%=userCurrPro.email%></p>

<%if(user.id == userCurrPro.id ){%>
 <%-include('_formUpdate')%>
<%}%>